@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url(./assets/fonts/HelveticaNeueLight.otf);
}

.Gradient-Btn{
    border-radius: 59px;
    background:white;
    backdrop-filter: blur(31.4px);
    position: relative;
    padding: 1.7px;
  }
  .Gradient-Btn::after{
    content: "";
    position: absolute;
    border-radius: inherit;
    padding: inherit;
    background: linear-gradient(107.9deg, #0C5FD1 1.25%, #8703C5 93.71%);
    inset: 0;
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }
