@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url(./assets/fonts/HelveticaNeueLight.otf);
}
.custom-pagination {
  text-align: center;
  margin-top: 20px;
}
.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #003E92; 
}
.custom-dots li button:before {
  color: #FFFFFF !important;
  opacity: 30%;
font-size: 10px !important;
}
.custom-dots li.slick-active button:before {
  color: #FFFFFF !important; 
  font-size: 10px;
  opacity: 1;
}